Repository Tabeyouka/tabeyouka-backend, pull requests merged in 2023-05, with the labels that each got.

#31 🐛 fix : Fix errors
  app/Http/Controllers/RestaurantController.php
  routes/web.php
Labels: 🔨 Refactor, 🐞 BugFix

#32 ✅ test : Modify Test code value
  tests/Feature/RestaurantControllerTest.php
Labels: 🔨 Refactor, 🐞 BugFix, ✅ Test

#36 🔨 chore : Update versions
  .gitignore
  composer.lock
  public/.htaccess
Labels: ⚙ Setting

#40 ✨feat: Add functionality to edit reviews
  app/Http/Controllers/ReviewController.php
  routes/api.php
  tests/Feature/ReviewControllerTest.php
Labels: ✨ Feature

#42 ✨ feat : Migrate teammates table
  database/migrations/2023_05_21_023116_create_teammates_table.php
Labels: ✨ Feature

#43 ✨ feat : Create Get teammates information logic
  app/Http/Controllers/TeammatesController.php
  app/Models/Teammate.php
  composer.json
  composer.lock
  database/factories/TeammateFactory.php
  phpunit.xml
  routes/api.php
  tests/Unit/TeammatesControllerTest.php
Labels: ✨ Feature

#44 ✨ feat : Create Get teammates information logic
  app/Http/Controllers/TeammatesController.php
  app/Models/Teammate.php
  composer.json
  composer.lock
  database/factories/TeammateFactory.php
  database/migrations/2023_05_21_023116_create_teammates_table.php
  phpunit.xml
  routes/api.php
  tests/Unit/TeammatesControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#47 🎨 refactor : Modify routing paths
  routes/api.php
  tests/Feature/ReviewControllerTest.php
Labels: 🔨 Refactor, 📬 API

#48 🐛 fix: Modify exception handling / ✨ feat : generate migration file for table
  app/Http/Controllers/ReviewController.php
  database/migrations/2023_05_26_044545_create_local_semester_table.php
  database/migrations/2023_05_26_044847_create_local_semester_comments_table.php
  tests/Feature/ReviewControllerTest.php
Labels: ✨ Feature, 🐞 BugFix

#49 ✨ feat : Update migration & Refactor exception handling
  app/Http/Controllers/ReviewController.php
  database/migrations/2023_05_23_053839_create_community_table.php
  database/migrations/2023_05_23_055630_create_comments_table.php
  database/migrations/2023_05_26_044545_create_local_semester_table.php
  database/migrations/2023_05_26_044847_create_local_semester_comments_table.php
  routes/api.php
  tests/Feature/ReviewControllerTest.php
Labels: ✨ Feature, 🔨 Refactor, 🐞 BugFix, 📬 API

#52 ✨ feat : Create Teammate logic
  app/Http/Controllers/TeammateController.php
  app/Http/Controllers/TeammatesController.php
  routes/api.php
  tests/Unit/TeammateControllerTest.php
  tests/Unit/TeammatesControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#53 ✨ feat : 팀원 소개 로직 구현
  app/Http/Controllers/TeammateController.php
  app/Http/Controllers/TeammatesController.php
  routes/api.php
  tests/Unit/TeammateControllerTest.php
  tests/Unit/TeammatesControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#55 ✨ feat : Create Restaurant logic
  app/Http/Controllers/RestaurantController.php
  routes/api.php
  tests/Feature/RestaurantControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#56 ✨ feat : 식당 로직 구현
  app/Http/Controllers/RestaurantController.php
  routes/api.php
  tests/Feature/RestaurantControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#57 ✨ feat : Create localsemester logic
  app/Http/Controllers/LocalSemesterController.php
  app/Http/Controllers/ReviewController.php
  app/Models/LocalSemester.php
  database/factories/LocalSemesterFactory.php
  database/factories/ReviewFactory.php
  database/migrations/2023_05_26_044545_create_local_semester_table.php
  database/migrations/2023_05_26_044847_create_local_semester_comments_table.php
  routes/api.php
  tests/Feature/LocalSemesterTest.php
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#58 ✨ feat : Create localsemester logic & Refactoring unnecessary code
  app/Http/Controllers/LocalSemesterController.php
  app/Http/Controllers/ReviewController.php
  app/Models/LocalSemester.php
  database/factories/LocalSemesterFactory.php
  database/factories/ReviewFactory.php
  database/migrations/2023_05_26_044545_create_local_semester_table.php
  database/migrations/2023_05_26_044847_create_local_semester_comments_table.php
  routes/api.php
  tests/Feature/LocalSemesterTest.php
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#59 ✨ feat : Create get specific teammate information logic
  app/Http/Controllers/TeammateController.php
  routes/api.php
  tests/Unit/TeammateControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#60 ✨ feat : Create get specific teammate information logic
  app/Http/Controllers/TeammateController.php
  routes/api.php
  tests/Unit/TeammateControllerTest.php
Labels: ✨ Feature, ✅ Test, 📬 API

#61 ✨ feat : Create local semester comment logic
  app/Http/Controllers/LocalSemesterCommentsController.php
  app/Models/LocalSemesterComments.php
  database/factories/LocalSemesterCommentsFactory.php
  routes/api.php
  tests/Feature/LocalSemesterCommentsTest.php
Labels: ✨ Feature
